<%= render "poll_header" %>

<%= link_to t("admin.polls.show.download_polls_results"),
            export_admin_poll_result_path(@poll, csv_params),
            class: "float-right small clear" %>

<div id="poll-resources">
  <%= render "subnav" %>

  <%= render "questions" %>
</div>
