// Override and add customized styles in this file.
//
// You can also create SCSS files in the app/assets/stylesheets/custom/
// folder and they will be loaded automatically.

body:not(.admin) {
  .top-links {
    @include full-width-border(bottom, 1px solid $border, $adjust-padding: true);

    background: $white;
    color: $black;
  }
}

.locale .locale-form label {
  color: inherit;
}

.top-bar {
  .top-bar-title a img {
    @include breakpoint(medium) {
      width: 10rem;
      margin: $line-height / 3 0;
    }
  }
}

.public > .wrapper > header {
  .top-bar {
    color: $black;
    background-color: $white;

    a {
      font-weight: bold;
    }
  }
}
